/* basic layout */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 10px;
    scroll-behavior: smooth;
}

header,
nav,
main,
section,
footer {
    display: block;
}

/* typrograph */
#header {
    position: fixed;
    top: 0px;
    height: 100px;
    width: 100%;
    background-color: rgb(190, 49, 68);
    box-shadow: 0 2px 10px rgb(22, 21, 22);
    z-index: 1;
}

#nav-bar {
    width: 100%;
    height: 100%;
}

#nav-bar ul {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#nav-bar li {
    display: block;
    width: 150px;
    height: 100%;
    text-align: center;
    padding-top: 28px;
    list-style: none;
}

#nav-bar li:hover {
    animation-name: colorful;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes colorful {
    10% {
        background: rgba(69, 86, 125, .1);
        box-shadow: 0 0 2px 1px rgba(69, 86, 125, .1);
    }

    20% {
        background: rgba(69, 86, 125, .2);
        box-shadow: 0 0 2px 1px rgba(69, 86, 125, .2);
    }

    30% {
        background: rgba(69, 86, 125, .3);
        box-shadow: 0 0 2px 1px rgba(69, 86, 125, .3);
    }

    40% {
        background: rgba(69, 86, 125, .4);
        box-shadow: 0 0 2px 1px rgba(69, 86, 125, .4);
    }

    50% {
        background: rgba(69, 86, 125, .5);
        box-shadow: 0 0 2px 1px rgba(69, 86, 125, .5);
    }

    60% {
        background: rgba(69, 86, 125, .6);
        box-shadow: 0 0 2px 1px rgba(69, 86, 125, .6);
    }

    70% {
        background: rgba(69, 86, 125, .7);
        box-shadow: 0 0 2px 1px rgba(69, 86, 125, .7);

    }

    80% {
        background: rgba(69, 86, 125, .8);
        box-shadow: 0 0 2px 1px rgba(69, 86, 125, .8);
    }

    90% {
        background: rgba(69, 86, 125, .9);
        box-shadow: 0 0 2px 1px rgba(69, 86, 125, .9);
    }

    100% {
        background: rgba(69, 86, 125, 1);
        box-shadow: 0 0 2px 1px rgba(69, 86, 125, 1);
    }
}

#nav-bar a {
    text-decoration: none;
    font-family: Poppins, sans-serif;
    font-size: 3rem;
    color: #FFFFFF;
}

.about-section {
    width: 100%;
    height: 100vh;
    background: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    padding-top: 40vh;
    text-align: center;
}

.about-section h1 {
    font-family: Raleway, sans-serif;
    font-size: 7rem;
    color: rgba(255, 255, 255, .8);
    margin-bottom: 0px;
}

.about-section h2 {
    font-family: Poppins, sans-serif;
    color: hsl(0, 95%, 35%);
    font-size: 4rem;
    font-style: italic;
    margin-top: 5px;
}

.work-section {
    width: 100%;
    display: grid;
    grid-template-rows: 350px 1fr 200px;
    background-color: rgb(69, 86, 125);
}

.description {
    width: 100%;
    padding: 10%;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 3rem;
    color: #FFFFFF;
}

.description hr {
    width: 100%;
    height: 3px;
    border: none;
    margin: 10px auto;
    background-color: rgb(255, 255, 255);
}

.projects {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    row-gap: 15px;
}

.projects>div {
    width: 100%;
    padding: 0 5%;
}

.projects img {
    display: block;
    width: 100%;
    height: 80%;
}

.projects p {
    height: 20%;
}

.projects a {
    text-decoration: none;
}

.projects a span {
    opacity: 0;
    font-weight: bold;
}

.projects a:hover span {
    animation-name: opacity-color;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes opacity-color {
    10% {
        opacity: 1;
        color: rgba(255, 127, 80, .1);
    }

    20% {
        opacity: 1;
        color: rgba(255, 127, 80, .2);
    }

    30% {
        opacity: 1;
        color: rgba(255, 127, 80, .3);
    }

    40% {
        opacity: 1;
        color: rgba(255, 127, 80, .4);
    }

    50% {
        opacity: 1;
        color: rgba(255, 127, 80, .5);
    }

    60% {
        opacity: 1;
        color: rgba(255, 127, 80, .6);
    }

    70% {
        opacity: 1;
        color: rgba(255, 127, 80, .7);
    }

    80% {
        opacity: 1;
        color: rgba(255, 127, 80, .8);
    }

    90% {
        opacity: 1;
        color: rgba(255, 127, 80, .9);
    }

    100% {
        opacity: 1;
        color: rgba(255, 127, 80, 1);
    }
}

.projects p {
    width: 100%;
    padding: 5%;
    font-family: Poppins, sans-serif;
    font-size: 25px;
    background-color: #303841;
    color: #F0F0F0;
    text-align: center;
}

.more {
    width: 100%;
    text-align: center;
}

.more button {
    width: 180px;
    height: 50px;
    margin-top: 80px;
    margin-bottom: 30px;
    border: 0px;
    border-radius: 3px;
    background-color: #303841;
}

.more a {
    color: #F0F0F0;
    font-size: 2.5rem;
    font-family: Helvetica;
    text-decoration: none;
}

.more span {
    position: relative;
    font-size: 3rem;
    color: #fff;
}

.more button:hover {
    animation-name: button-style;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes button-style {
    100% {
        background-color: #be3144;
    }
}

.more button:hover span {
    animation-name: go-right;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes go-right {
    10% {
        left: .3px;
    }

    20% {
        left: 1.2px;
    }

    50% {
        left: 2.1px;
    }

    100% {
        left: 3px;
    }
}

.contact-section {
    width: 100%;
    height: 75vh;
    border-bottom: 5px solid #be3144;
    background-color: #303841;
    color: #F0F0F0;
    text-align: center;
}

.contact-section div:nth-child(1) {
    padding-top: 13vh;
}

.contact-section p:nth-of-type(1) {
    font-family: Raleway, sans-serif;
    font-size: 7rem;
    margin-bottom: 10px;
}

.contact-section p:nth-of-type(2) {
    font-family: Poppins, sans-serif;
    font-size: 2rem;
    color: rgba(255, 255, 255, .8);
}

#links {
    width: 100%;
    padding: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#links a {
    display: block;
    height: 60px;
    padding: 10px;
    position: relative;
    text-decoration: none;
    font-family: Poppins, sans-serif;
    color: #F0F0F0;
    font-size: 3rem;
}

.facebook {
    width: 200px;
    background-image: url(./link-logo/facebook.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 10px 13px;
    text-align: right;
}

.github {
    width: 160px;
    background-image: url(./link-logo/github.png);
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: 10px 10px;
    text-align: right;
}

.twitter {
    width: 150px;
    background-image: url(./link-logo/twitter-circled.png);
    background-repeat: no-repeat;
    background-size: 38px;
    background-position: 0 10px;
    text-align: right;
}

.email {
    width: 230px;
    background-image: url(./link-logo/email.png);
    background-repeat: no-repeat;
    background-size: 38px;
    background-position: 2px 10px;
    text-align: right;
}

.phone {
    width: 170px;
    background-image: url(./link-logo/phonelink-ring.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 10px 13px;
    text-align: right;
}

#links a:hover {
    animation-name: go-down;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes go-down {
    10% {
        top: 4px;
    }

    20% {
        top: 7px;
    }

    30% {
        top: 9px;
    }

    100% {
        top: 10px;
    }
}

#footer {
    width: 100%;
    height: 25vh;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    background-color: #303841;
    font-family: Poppins, sans-serif;
    color: #F0F0F0;
    font-size: 2.5rem;
}

#footer p {
    padding: 5px;
}

#footer a {
    text-decoration: none;
    color: #F0F0F0;
}

@media screen and (min-width: 726px) and (max-width: 1096px) {
    .projects {
        width: 100%;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (min-width: 1096px) {
    .projects {
        width: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(3, 1fr);
    }

    .description hr {
        width: 70%;
    }

}